################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/WorkoutPlanner/WorkoutPlanner/.vs
/WorkoutPlanner/WorkoutPlanner/WorkoutPlanner/bin/Debug/net9.0-windows10.0.19041.0/win10-x64
/WorkoutPlanner/WorkoutPlanner/WorkoutPlanner/obj
