################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/WorkoutPlanner/WorkoutPlanner/.vs
/WorkoutPlanner/WorkoutPlanner/WorkoutPlanner/bin/
/WorkoutPlanner/WorkoutPlanner/WorkoutPlanner/obj
/WorkoutPlanner/WorkoutPlanner/WorkoutPlanner/Resources/Raw/thedreamlife-workoutplanner-firebase-adminsdk-fbsvc-2b161b85ab.json
WorkoutPlanner/WorkoutPlanner/WorkoutPlanner/Tools/Secret.cs
